.block-vert {
  width: 390px;
  height: 50px;
  background: #15D39C;
}
.banner h2{
  color: white;
  margin-top:-97px;
  font-family: roboto;
  font-size: 33px;
  margin-left: 10px;
}

.banner p{
  color: white;
  font-family: roboto;
  font-size: 20px;
  margin-left: 10px;
}
.img-perso {
  width: 389px;
  height: 272px;
  margin-top: -2px;
}

.booking-form {
margin-top: 20px;
text-align: center;
margin-top: 54px;
}
.booking-form .form-group {

  width: 250px;
  height: 55px;
  background: #FFFFFF;
  border: 1px solid #E9EBED;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  position: relative;
}
form>input {
 font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #5E616F;
  padding: 20px;
  margin-top: 30px;
}

.btn-flat-find {
  width: 246px;
  height: 66px;
  background: #15D39C;
  border-radius: 50px;
  color:white;
  text-decoration: none;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  padding: 20px;
  font-family: Roboto;
  font-weight: bold;

}

#home-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  }

.input:focus {
    outline: none !important;
    border:1px solid red;
    box-shadow: 0 0 10px #719ECE;
}

