
<div class="fond_vert">
  <h1><strong>Click & Clean </strong></h1>
      <p>Trouvez un agent d’entretien en 3 clics</p>
  
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="container">

<div class="container-center">
<div class="btn-green">
  <p>ENVOYER</p>
</div>

<div class="btn-white">
  <p>S'INSCRIRE</p>
</div>
</div>

<div class="champ-big">
  <p>92 E, Impasse des Cigales</p>
</div>

<div class="container-flex">
  <div class="champ-small">
    <p>08h00</p>
  </div>
  <div class="champ-small">
    <p>08h00</p>
  </div>
</div>


<img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
<img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
<img class="avatar-carre-big" alt="avatar-carre-big" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
<img class="avatar-carre-small" alt="avatar-carre-small" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />

<div class="cards-review">
  <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar" />
  <div class="cards-review-content">
    <h2>Paul</h2>
    <p>Lorem ipsum dolor sit amet,adipisicing elit.Lorem ipsum dolor sit amet,adipisicing elit.Lorem ipsum dolor sit amet,adipisicing elit.</p>
  </div>
</div>

<div class="card-dash">
  <div class= "green">
    <h3>Jul <br> 16 </h3>
  </div>
  <div class="card-dash-infos">
    <h2>Paul</h2>
    <p>De 13h à 15h <br>167 rue Paradis <br>13006 Marseille </p>
  </div>
  <img class="avatar-carre-small" alt="avatar-carre-small" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
</div>

<div class="card-dash">
  <div class= "gray">
    <h3>Jul <br> 16 </h3>
  </div>
  <div class="card-dash-infos">
    <h2>Paul</h2>
    <p>De 13h à 15h <br>167 rue Paradis 13006 Marseille </p>
  </div>
</div>

</div>
