.avatar {
  width: 50px;
  border-radius: 50%;
}
.avatar-large {
  width: 124px;
  border-radius: 50%;
}
.avatar-carre-big{
  width: 80px;
  border-radius: 20px;
}

.avatar-carre-small{
  width: 80px;
  height: 80px;
  border-radius: 0 20px 20px 0;
}

