.bloc-description{
  background: #F2F3F4;
  border-radius: 10px;
  margin-bottom: 20px;
}

.bloc-description p {
  padding: 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #5E616F;
}
