.btn-green {
  width: 246px;
  height: 66px;
  background: #15D39C;
  border-radius: 50px;
}

.btn-green p {
  color: white;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  padding: 20px;
}

.btn-white{
  width: 246px;
  height: 66px;
  background: white;
  border-radius: 50px;
}

.btn-white p {
  color: #15D39C;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  padding: 20px;
}

.btn-red{
  width: 246px;
  height: 66px;
  background: red;
  border-radius: 50px;
}

.btn-red p {
  color: white;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  padding: 20px;
}
