.btn-green {
  width: 246px;
  height: 66px;
  background: #15D39C;
  border-radius: 50px;
  color: white;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  padding: 20px;
}


.btn-green-small {
  width: 110px;
  background: #15D39C;
  border-radius: 50px;
  color: white;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border: none;
}



.btn-white{
  width: 246px;
  height: 66px;
  background: white;
  border-radius: 50px;
}

.btn-white p {
  color: #15D39C;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  padding: 20px;
}

.btn-red{
  width: 246px;
  height: 66px;
  background: red;
  border-radius: 50px;
}

.btn-red p {
  color: white;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  padding: 20px;
}
