.cards-price{
  background: #F2F3F4;
  border-radius: 10px;
  padding: 25px;
}

.cards-price-flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cards-price-flex p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #5E616F;
}

.cards-price-flex h3 {
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #5E616F;
margin-top: 20px;
}

.ligne{
  border-bottom: 1px solid #B4B4BA;
}
