.champ-big {
  width: 325px;
  height: 55px;
  background: #FFFFFF;
  border: 1px solid #E9EBED;
  box-sizing: border-box;
  border-radius: 10px;
}

.champ-big p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 14px;
  color: #5E616F;
  padding: 20px;
}


.champ-small{
  width: 150px;
  height: 55px;
  background: #FFFFFF;
  border: 1px solid #E9EBED;
  box-sizing: border-box;
  border-radius: 10px;
}

.champ-small p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 14px;
  color: #5E616F;
  padding: 20px;
}

.champ-big-gray {
  width: 325px;
  height: 55px;
  background: #F2F3F4;
  box-sizing: border-box;
  border-radius: 10px;
}

.champ-big-gray p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 14px;
  color: #5E616F;
  padding: 20px;
}

.champ-small-gray{
  width: 150px;
  height: 55px;
  background: #F2F3F4;
  box-sizing: border-box;
  border-radius: 10px;
}

.champ-small-gray p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 14px;
  color: #5E616F;
  padding: 20px;
}
