.fa-star{
  color: #15D39C;
  font-size: 24px;
  cursor: pointer;
}

.fa-star.gray-star{
  color: #5E616F;
  font-size: 18px;
}



.fa-map-marker-alt{
  color: #5E616F;
  font-size: 20px;
}

.fa-arrow-left{
  padding-top: 20px;
  position: absolute;
  top: 0px;
  left: 10px;
  color: #5E616F;
  font-size: 25px;
  text-decoration: none;
  z-index: 10000;
  pointer-events: all;
  }
