.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  position: relative;
  width: 375px;
  z-index:1000;
  position: relative;
}

.navbar-lewagon .navbar-collapse {
  width: 375px;
  height: 812px;
  background-color: white;
}

.nav-link img {
  width: 80px;
  height: 80px;
  position: relative;
  margin-top: 55px;
  display: block;
  margin-left: auto;
  margin-right: auto
}
h1, .h1 {
    font-size: 1.3rem;
    text-align: center;
    font-family: Roboto;
    color: #5E616F;

}
.navbar-light .navbar-toggler {
  border-color: white;
  color: #5e626f;
  }
