.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  position: relative;
  width: 100vwpx;
  z-index:100;
  margin-bottom: -50px;
  // pointer-events: none;
}

.navbar-lewagon .navbar-collapse {
  width: 100vw;
  height: 812px;
  background-color: white;
}

.nav-link img {
  width: 80px;
  height: 80px;
  position: relative;
  margin-top: 55px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
h1, .h1 {
    font-size: 1.3rem;
    text-align: center;
    font-family: Roboto;
    color: #5E616F;
    text-decoration: none;

}
.navbar-light .navbar-toggler {
  border-color: white;
  color: #5e626f;
  }


  @media (max-width: 992px) {
    .navbar-collapse {
        position: fixed;
        top: 50px; /* adjust to height of navbar */
        left: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 100vw;
        height: 100vh;
        z-index: 1000;

    }

    .navbar-collapse.collapsing {
        left: -75%;
        transition: height 0s ease;
    }

    .navbar-collapse.show {
        left: 0;
        transition: left 300ms ease-in-out;
    }

    .navbar-toggler.collapsed ~ .navbar-collapse {
        transition: left 500ms ease-in-out;
    }
}

.navbar{
    padding-bottom: 0;
    }

.navbar-light .navbar-toggler {
  border-color: transparent;
  }

.navbar-toggler{
  pointer-events: all;
}
